body {
  margin: 50px 100px 0 100px;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #ff6060;
}

:root {
  --mainColor: #ff6060;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600, 500, 400;
  src: local("Montserrat"),
    url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    margin: 4vw;
    align-items: center;
  }
}
