.wrapper {
  align-items: center;
  margin-top: 1vh;
}

.wrapperTag {
  display: flex;
  gap: 0.8vw;
}

.wrapperCollapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 6vh;
}

.wrapperInfo {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0 1vw 0;
}

.infoSizing {
  width: 50%;
  justify-content: flex-end;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.title {
  color: var(--mainColor);
  font-size: var(--largeFont);
  font-weight: 500;
  line-height: 3vw;
}

.location {
  color: var(--mainColor);
  font-size: var(--lightFont);
  margin-top: 0.5vw;
}

.line {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}
