.wrapper {
  align-items: center;
  margin-top: 1vh;
}

.wrapperTag {
  display: flex;
  gap: 0.8vw;
}

.wrapperCollapse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  margin-bottom: 6vh;
}

.wrapperInfo {
  display: flex;
  justify-content: space-between;
  margin: 2vw 0 1vw 0;
}

.infoAppart {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.infoProfil {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.stars {
  text-align: center;
  margin-top: -5vw;
}

.title {
  color: var(--mainColor);
  font-size: var(--largeFont);
  font-weight: 500;
  line-height: 3vw;
}

.location {
  color: var(--mainColor);
  font-size: var(--lightFont);
  margin: 0.5vw 0 1.2vw 0;
}

.line {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding-bottom: 6vw;
  }
  .wrapperInfo {
    display: unset;
  }
  .wrapperCollapse {
    display: unset;
  }
  .infoAppart {
    width: unset;
  }
  .infoProfil {
    width: unset;
    flex-direction: row-reverse;
  }
  .title {
    font-size: var(--largeFontMobile);
  }
  .location {
    font-size: var(--mediumFontMobile);
  }
}
