.bannerWrapper {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 6vh;
}

.bannerImage {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 15vw;
  filter: brightness(75%);
}

.bannerText {
  position: absolute;
  color: white;
  font-size: 3.4vw;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .bannerWrapper {
    margin-top: unset;
  }
  .bannerImage {
    border-radius: 10px;
    height: 20vw;
  }
  .bannerText {
    font-size: 0;
  }
  .bannerText::before {
    content: "Chez vous, \A partout et ailleurs";
    white-space: pre;
    font-size: 4.5vw;
    align-items: flex-start;
    margin-right: 45vw;
    font-weight: 600;
  }
}
