.cardWrapper {
  display: flex;
  position: relative;
  border-radius: 25px;
  align-items: flex-end;
  width: 80%;
}

.cardImage {
  border-radius: 10px;
  object-fit: cover;
  width: 27vw;
  height: 20vw;
}

.cardText {
  position: absolute;
  justify-content: center;
  margin-left: 20px;
  color: white;
  font-size: 1.4vw;
  align-self: flex-end;
  margin-bottom: 10px;
}

.link {
  width: 25vw;
  margin: 0;
}
