.wrapperTitle {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-radius: 10px;
  color: white;
  padding-left: 20px;
  margin-top: 3vh;
  font-size: 1.2vw;
  font-weight: 400;
}

.arrowUp {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  rotate: -135deg;
  margin: 20px;
}

.arrowDown {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  margin: 20px;
  rotate: 45deg;
}

.content {
  color: var(--mainColor);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f6f6f6;
  margin-top: -10px;
  z-index: 2;
  padding: 30px 25px;
  font-size: 1.2vw;
  line-height: 35px;
}

.title {
  z-index: 1;
}
