.wrapperTitle {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  background-color: var(--mainColor);
  border-radius: 10px;
  padding: 1vw 15px 1vw 15px;
  margin-top: 1vh;

  color: white;
  font-size: var(--lightFont);
  font-weight: 400;
  z-index: 1;
}

.arrowUp {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  rotate: -135deg;
  margin-top: 5px;
}

.arrowDown {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  rotate: 45deg;
  margin-top: -5px;
}

.content {
  color: var(--mainColor);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f6f6f6;
  margin-top: -10px;
  z-index: 2;
  padding: 30px 25px;
  font-size: var(--lightFont);
  line-height: 2.6vw;
}

.title {
  z-index: 1;
}
.content ul {
  padding-inline-start: 0;
}
@media screen and (max-width: 768px) {
  .wrapperTitle {
    border-radius: 8px;
  }

  .title {
    font-size: var(--subLightFontMobile);
  }

  .content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: var(--lightFontMobile);
    line-height: 4.5vw;
    padding: 25px 10px 5px 15px;
  }
}
