.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20vw;
  color: #ff6060;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.text {
  font-size: var(--largeFont);
  color: #ff6060;
  margin: 0;
}

.link {
  text-decoration: underline;
  padding-top: 10vw;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 80vh;
  }
  .title {
    font-size: 30vw;
    font-weight: 700;
  }
  .link {
    font-size: var(--subLightFontMobile);
  }
}
