.logo {
  filter: brightness(100);
  width: 80px;
  margin-top: 20px;
}

.footer {
  position: absolute;
  background-color: black;
  text-align: center;
  width: 100%;
  margin-left: -40px;
  margin-top: 2vw;
}

.license {
  color: white;
}
