.footer {
  background-color: black;
  text-align: center;
  margin: auto -6vw;
}

.logo {
  filter: brightness(100);
  width: 140px;
  margin-top: 20px;
}

.license {
  color: white;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin: auto -4vw 0 -4vw;
  }
  .logo {
    margin-top: 25px;
    width: 80px;
  }
  .license {
    font-size: 2.4vw;
    padding-bottom: 35px;
  }
}
