.gallery {
  background-color: #f6f6f6;
  padding: 4vw;
  border-radius: 25px;
  margin-top: 5vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 3vw 3vw;
  grid-auto-flow: row;
}
