.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
}

.li {
  align-items: center;
  margin-left: 80px;
  list-style-type: none;
}

.about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
}

.home {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8vw;
}

.logo {
  width: 15vw;
}

.about:hover,
.home:hover {
  text-decoration: underline;
}
