.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
}

li {
  align-items: center;
  margin-left: 50px;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FF6060;
  
}

.home {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.logo {
  width: 120px;
}
