.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 15vw;
}

.ul {
  display: flex;
}

.li {
  align-items: center;
  margin-left: 80px;
  list-style-type: none;
}

.home {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: var(--mediumFont);
}

.about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: var(--mediumFont);
}

.active {
  text-decoration: underline;
}

.about:focus,
.home:focus {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .li {
    margin-left: 20px;
    text-transform: uppercase;
  }
  .wrapper {
    margin-top: unset;
  }
  .logo {
    width: 37vw;
  }
  .home,
  .about {
    font-size: var(--navFontMobile);
  }
}
