.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapperName {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
  align-items: flex-end;
}

.image {
  border-radius: 100%;
  height: 5vw;
  width: 5vw;
  background-color: black;
}
