.wrapper,
.image {
  width: 100%;
  height: inherit;
  border-radius: 25px;
  object-fit: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46vh;
}

.arrowWrapper {
  width: 85%;
  position: absolute;
  text-align: center;
}

.arrowLeft {
  border-bottom: 12px solid rgb(255, 255, 255);
  border-left: 12px solid rgb(255, 255, 255);
  border-top: transparent;
  border-right: transparent;
  width: 60px;
  height: 60px;
  rotate: 45deg;
  float: left;
  background-color: transparent;
}

.arrowRight {
  border-top: 12px solid rgb(255, 255, 255);
  border-right: 12px solid rgb(255, 255, 255);
  border-bottom: transparent;
  border-left: transparent;
  width: 60px;
  height: 60px;
  rotate: 45deg;
  float: right;
  background-color: transparent;
}

.counter {
  position: absolute;
  align-self: flex-end;
  color: white;
  font-size: 24px;
  margin-bottom: 2vh;
}
