.wrapper,
.image {
  width: 100%;
  height: inherit;
  border-radius: 25px;
  object-fit: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46vh;
}

.arrowWrapper {
  width: 83%;
  position: absolute;
  text-align: center;
}

.arrowLeft {
  border-bottom: 0.85vw solid rgb(255, 255, 255);
  border-left: 0.85vw solid rgb(255, 255, 255);
  border-top: transparent;
  border-right: transparent;
  width: 5vw;
  height: 5vw;
  rotate: 45deg;
  float: left;
  background-color: transparent;
}

.arrowRight {
  border-top: 0.85vw solid rgb(255, 255, 255);
  border-right: 0.85vw solid rgb(255, 255, 255);
  border-bottom: transparent;
  border-left: transparent;
  width: 5vw;
  height: 5vw;
  rotate: 45deg;
  float: right;
  background-color: transparent;
}

.counter {
  position: absolute;
  align-self: flex-end;
  color: white;
  font-size: 2vw;
  margin-bottom: 2vw;
}

@media screen and (max-width: 768px) {
  .wrapper,
  .image {
    height: unset;
    border-radius: 10px;
  }
  .counter {
    font-size: 4vw;
  }
}
