.wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.6vw;
}

.wrapper img {
  width: 2.2vw;
}

.starGray {
  filter: opacity(0.35) saturate(0);
}

@media screen and (max-width: 768px) {
  .wrapper {
    gap: 1vw;
  }
  .wrapper img {
    width: 3.6vw;
  }
}
