.text {
  background-color: #ff6060;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1.2vw;
  line-height: 1.7vw;
  font-weight: 500;
  height: 1.7vw;
  padding: 2px 2.4vw;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 2.3vw;
    padding: 1.4vw 5.5vw;
    border-radius: 7px;
  }
}
